@model IA_PM.Models.homePage
@{
    ViewBag.Title = "Home Page";
}
<!-------------------------- Start login Modal ----------->

<div class="modal" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-sign-in-alt "></i>Login</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="/action_page.php" class="was-validated">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" maxlength="16" minlength="8" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>

                    <button type="submit" class="btn btn-danger btn-block">Login</button>
                    <center><a href="#" class="logina" data-toggle="modal" data-target="#registerModal" data-dismiss="loginModal">have no account?</a></center>
                </form>
            </div>



        </div>
    </div>
</div>
<!--------------------------End  Login Modal ----------->
<!-------------------------- Start Register Modal ----------->
<!-- The Modal -->
<div class="modal" id="registerModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-plus"></i>Create Account</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="" name="adduser">
                    <div class="form-group">
                        <label for="firstname">First Name:</label>
                        <input type="text" class="form-control" id="firstname" required>
                    </div>
                    <div class="form-group">
                        <label for="lastname">Last Name:</label>
                        <input type="text" class="form-control" id="lastname" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone:</label>
                        <input type="text" class="form-control" id="phone" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Photo:</label>
                        <input type="file" class="form-control" id="phone" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" required>
                    </div>
                    <div class="form-group">
                        <label for="jobtitle">Job Title:</label>
                        <select class="form-control" id="MT">
                            <option>Customer</option>
                            <option>Marketing Director</option>
                            <option>Marketing Team Leader</option>
                            <option>Marketing Trainee</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" axlength="16" minlength="8" required>
                    </div>

                    <button type="submit" class="btn btn-danger btn-block">Submit</button>
                </form>
            </div>



        </div>
    </div>
</div>
<!--End of Model     -->
<!--------------------------Start Horizintal Nav ------------------->
<div class="row">
    <div class="dropdown dropright col-lg-3">
        <button type="button" class="showinfohome btn btn-dark" data-toggle="dropdown">
            <i class="fas fa-cog fa-spin fa-3x"></i><br>
            Press<br> Here
        </button>
        <div class="dropdown-menu">
            <ul class="   nav flex-column bg-dark ">

                <li class="nav-item dropdown-item  ">

                    <a class="nav-link " data-toggle="tab" href="#projects"><i class="fa fa-list-ul"></i>Projects</a>
                </li>

                <li class="nav-item dropdown-item">
                    <a class="nav-link" data-toggle="tab" href="#addproject"><i class="fa fa-plus"></i>Add Project</a>
                </li>
            </ul>
        </div>
    </div>
    <!-------------------------End Horizental Nav Bar------------------->

    <div class="tab-content col-lg-9">

        <!---------------Start of Projects         -->
        <div class="tab-pane container fade" id="projects">
            <h3 class="titlePage text-danger"><i class="fa fa-plus"></i>Projects</h3><br/> <br/>
            @foreach(var proj in Model.projects) {
                if ((proj.progressid==1))
                {
               
            <div class="requestcontrol">
                <h3 class="text-danger"><i class="fa fa-bell"></i>@proj.name</h3>
                <form action="" name="request">
                    <div class="form-group">
                        <ul class="list-group">
                            <li class="list-group-item "><label for="projectname" class="title"><i class=" fa fa-tasks"></i>Project:</label>@proj.name</li>
                            <li class="list-group-item  "><label for="projectowner" class="title"><i class=" fa fa-user-tie"></i>Owner:</label>@proj.customerid</li>

                            <li class="list-group-item  ">  <label for="projectdescription" class="title"><i class="fas fa-pencil-alt prefix"></i>Description:</label><textarea class="TA form-control rounded-0" rows="3" readonly>@proj.descreption</textarea>

                            <li class="list-group-item  "><label for="projectduedate" class="title"><i class=" fa fa-stopwatch"></i>Due Date:</label> @Html.DisplayFor(modelItem => proj.date)</li>
                        </ul>
                    </div>


                    <button type="submit" class="requestButton btn btn-success"><i class="fa fa-check">Pull</i></button>
                  
                    <br><br>
                </form>

            </div>

                }
            }
        </div>

        <!--    End Projects-->
        <!-------------------Project  Form ------------>
        <div class="addprojectform tab-pane container fade" id="addproject">
            <h3 class="titlePage text-danger"><i class="fa fa-plus"></i>Add Project</h3><br/> <br/>
            @using (Html.BeginForm("SaveRecord", "Home", FormMethod.Post))
            {

                <div class="addproject">
                    <form action="" name="addproject">
                        <div class="form-group">
                            <label class="title" for="firstname">Project Name:</label>
                            @Html.TextBoxFor(model => model.project.name, new {@class = "form-control", @required = "required"})
                        </div>
                        <li class="list-group-item  ">
                        <label for="projectdescription" class="title">Description:</label>
                        @Html.TextBoxFor(model => model.project.descreption, new {@class = "form-control", @required = "required"})
                        <div class="form-group">
                            <div>
                                <label class="title" for="date">Date:</label>
                                @Html.TextBoxFor(model => model.project.date, new {@type = "date", @class = "form-control datepicker", @required = "required"})
                            </div>
                            <div class="form-group">
                                <label class="title" for="price">Price:</label>
                                @Html.TextBoxFor(model => model.project.price, new {@class = "form-control", @required = "required"})
                            </div>

                            <br><br><button type="submit" class="btn btn-danger btn-block">Submit</button>

                        </div>

                    </form>
                </div>



            }
        </div>
        <!------------End of Add Project form     -->



    </div>
</div>